<div style="display: inline-block; padding: 5px;">
  <span style="float: left;">- Peugeot</span><br>
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th>Model</th>
        <th>Reg</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>2008 Allure 1.6 BlueHDi 100 ETG6 S&#38;S</td>
        <td>200</td>
      </tr>
      <tr>
        <td>3008 Allure 1.6 BlueHDi 120 ETG6 S&#38;S</td>
        <td>300</td>
      </tr>
      <tr>
        <td>508 Allure 1.6 BlueHDi 120 ETG6 S&#38;S</td>
        <td>500</td>
      </tr>
      <tr>
        <td>Total</td>
        <td>1000</td>
      </tr>
    </tbody>
  </table>
</div>
<div style="display: inline-block; padding: 5px;">
  <span style="float: left;">- DS</span><br>
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th>Model</th>
        <th>Reg</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>2008 Allure 1.6 BlueHDi 100 ETG6 S&#38;S</td>
        <td>200</td>
      </tr>
      <tr>
        <td>3008 Allure 1.6 BlueHDi 120 ETG6 S&#38;S</td>
        <td>300</td>
      </tr>
      <tr>
        <td>508 Allure 1.6 BlueHDi 120 ETG6 S&#38;S</td>
        <td>500</td>
      </tr>
      <tr>
        <td>Total</td>
        <td>1000</td>
      </tr>
    </tbody>
  </table>
</div>
<div style="display: inline-block; padding: 5px;">
  <span style="float: left;">- Citroen</span><br>
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th>Model</th>
        <th>Reg</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>2008 Allure 1.6 BlueHDi 100 ETG6 S&#38;S</td>
        <td>200</td>
      </tr>
      <tr>
        <td>3008 Allure 1.6 BlueHDi 120 ETG6 S&#38;S</td>
        <td>300</td>
      </tr>
      <tr>
        <td>508 Allure 1.6 BlueHDi 120 ETG6 S&#38;S</td>
        <td>500</td>
      </tr>
      <tr>
        <td>Total</td>
        <td>1000</td>
      </tr>
    </tbody>
  </table>
</div>
